

/* CONTAINER */
.area-amigos{
  padding:40px;
  flex:1;
  background:#bfc0c0;
  min-height:100vh;
}

/* TÍTULOS */
.area-amigos h1{
  color:#ff3b3b;
  font-size:30px;
}

.sub-titulo{
  font-size:13px;
  color:#000;
  margin-bottom:20px;
}

/* BUSCA */
.busca{
  background:#d6c6c6;
  border-radius:30px;
  padding:12px 20px;
  display:flex;
  align-items:center;
  gap:10px;
  box-shadow:0 5px 15px rgba(255,255,255,0.5);
  max-width:500px;
  margin-bottom:40px;
  width:100%;
}

.busca input{
  border:none;
  outline:none;
  flex:1;
  background:transparent;
  font-size:14px;
}

/* CARDS */
.cards{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
  justify-content:flex-start;
}

/* CARD AMIGO */
.card-amigo{
  background:#1e1e1e;
  padding:25px;
  border-radius:20px;
  width:280px;
  max-width:100%;
  box-shadow:0 15px 35px rgba(0,0,0,0.7);
  text-align:center;
  position:relative;
  transition:0.3s;
  color:#fff; 
}

.card-amigo h2{
  color:#ff4b4b;
  margin-bottom:10px;
}

.card-amigo:hover{
  transform:translateY(-6px);
  box-shadow:0 20px 45px rgba(0,0,0,0.9);
}

/* AFINIDADE */
.afinidade{
  position:absolute;
  top:15px;
  right:15px;
  background:#e53935;
  color:white;
  padding:4px 10px;
  border-radius:10px;
  font-size:11px;
}

/* AVATAR */
.avatar-amigo{
  width:80px;
  height:80px;
  border-radius:20px;
  margin-bottom:10px;
  object-fit:cover;
}

/* STATUS */
.status{
  font-size:12px;
  color:#aaa;
}

/* ESTATISTICAS */
.estatisticas{
  color:#fff;
  display:flex;
  justify-content:center;
  gap:30px;
  margin:20px 0;
  background:#2a2a2a;
  padding:10px;
  border-radius:15px;
}

.estatisticas strong{
  display:block;
  font-size:20px;
}

.vermelho{
  color:#ff4b4b;
}

/* INTERESSES */
.interesses{
  margin-bottom:20px;
}

.tag{
  background:#333;
  color:#ff4b4b;
  padding:5px 10px;
  border-radius:15px;
  font-size:11px;
  margin:3px;
  display:inline-block;
}

.tag.azul{
  background:#24344d;
  color:#4aa3ff;
}

/* BOTAO */
.botao{
  background:#e53935;
  color:white;
  border:none;
  padding:12px;
  border-radius:20px;
  cursor:pointer;
  font-weight:bold;
  width:100%;
  transition:0.3s;
}

.botao:hover{
  background:#aa1a1a;
  transform:scale(1.03);
}


/*  RESPONSIVIDADE */


/* TABLET */
@media (max-width:1024px){

  .cards{
    justify-content:center;
  }

}

/* MOBILE */
@media (max-width:768px){

  .area-amigos{
    padding:20px;
  }

  .area-amigos h1{
    font-size:24px;
  }

  .busca{
    max-width:100%;
    margin-bottom:30px;
  }

  .cards{
    gap:20px;
  }

  .card-amigo{
    width:100%;
    max-width:350px;
  }

}

/* CELULAR PEQUENO */
@media (max-width:480px){

  .area-amigos{
    padding:15px;
  }

  .card-amigo{
    padding:20px;
  }

  .estatisticas{
    gap:15px;
  }

  .estatisticas strong{
    font-size:16px;
  }

}