/* =========================
ÁREA PRINCIPAL
========================= */

.editar-perfil{
    max-width:1400px;
    width:95%;
    margin:auto;
}


/* =========================
HEADER / TOPO
========================= */

.titulo-editar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:white;
    padding:16px 25px;
    margin-bottom:30px;
    border-radius:12px;
    border:3px solid #bd0000;
}


/* TITULO */

.titulo-editar h2{
    font-size:20px;
    font-weight:700;
    color:#111;
    display:flex;
    align-items:center;
    gap:10px;
}


/* ICONE */

.titulo-editar h2::before{
    content:"👤";
    background:#fc0400;
    width:30px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:8px;
    font-size:15px;
}


/* SUBTITULO */

.titulo-editar p{
    font-size:13px;
    color:#777;
    margin-left:40px;
}


/* =========================
BOTÕES
========================= */

.botoes{
    display:flex;
    gap:10px;
}

.cancelar{
    padding:8px 18px;
    border-radius:8px;
    border:none;
    background:#e5e5e5;
    color:#666;
    font-size:13px;
    cursor:pointer;
    text-decoration:none;
}

.cancelar:hover{
    background:#ebe2e2;
}

.salvar{
    padding:8px 20px;
    border-radius:8px;
    border:none;
    background:#e53935;
    color:white;
    font-size:13px;
    font-weight:600;
    cursor:pointer;
}


/* =========================
GRID
========================= */

.grid-perfil{
    display:grid;
    grid-template-columns:340px 1fr;
    gap:30px;
}



/* CARDS */


.card-perfil{
    background:white;
    border-radius:18px;
    padding: 30px;
    box-shadow:0 6px 30px 4px rgba(0, 0, 0, 0.589);
}

.card-perfil h4{
    font-size:14px;
    font-weight:700;
    color:#f50d09;
    margin-bottom:15px;
}



/* AVATAR */


.avatar-card{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.avatar-editar{
    width:100px;
    height:100px;
    border-radius:16px;
    object-fit:cover;
    margin-bottom:12px;
}


/* =========================
INPUTS
========================= */

input{
    width:100%;
    padding:10px;
    border-radius:8px;
    border:3px solid #ff0000;
    font-size:14px;
    margin-bottom:12px;
}

input:focus{
    border: 3px solid #000000;
}


/* =========================
TEXTAREA
========================= */

textarea{
    width:95%;
    height:110px;
    padding:12px;
    border-radius:10px;
    border:3px solid #f70505;
    font-size:14px;
    resize:none;
    background:rgb(255, 255, 255);
}

textarea:focus{
    border: 2px solid #000000;
}


/* =========================
HOBBIES
========================= */

.hobby{
    background:#f2f2f2;
    padding:8px 10px;
    border-radius:8px;
    margin-bottom:8px;
    font-size:13px;
}


/* =========================
SISTEMAS
========================= */

.sistema{
    display:inline-block;
    background:#f3f3f3;
    padding:7px 12px;
    border-radius:20px;
    margin-right:6px;
    margin-bottom:8px;
    font-size:13px;
}



