body,
.sidebar,
.topo,
.conteudo,
.card-texto,
.perfil-card,
input,
textarea,
a{

transition:
background 0.4s ease,
color 0.4s ease,
border 0.4s ease,
box-shadow 0.4s ease;

}

body{
background-color:#000000;
}

*{
transition: all 0.4s ease;
}

.dark-mode{
color:#ffffff;
}


/* SIDEBAR */

.dark-mode .sidebar{
background:#000000;
box-shadow:2px 0 10px rgba(0,0,0,0.5);
}

.dark-mode .sidebar li:hover{
background:#f816168a;
color:#ff0909;
}

.dark-mode .sidebar .active{
background:#96282898;
border-left:10px solid #ff3b3b;
}


/* TOPO */

.dark-mode .topo{
background:#1a1a1a;
}


/* STATUS */

.dark-mode .status{
background:#2a2a2a;
color:#ddd;
}


/* CONTEÚDO */

.dark-mode .conteudo{
background:#1e1e1e;
color:#f7f4f4;
box-shadow:0 0px 35px rgb(161, 63, 63);
border-radius: 20px;
}


/* CARDS */

.dark-mode .card-texto{
background:#242424;
color:white;
box-shadow:0 5px 15px rgba(0,0,0,0.5);
}

.dark-mode .card-perfil{
background:#242424;
color:#f1f1f1;
}


/* INPUTS */

.dark-mode input,
.dark-mode textarea{
background:#2a2a2a;
color:#fff;
border:1px solid #444;
}


/* BOTÕES */

.dark-mode .cancelar{
background:#3a3a3a;
color:#ddd;
}

.dark-mode .salvar{
background:#ff3b3b;
}


/* TITULOS */

.dark-mode .conteudo h1{
color:#ff4d4d;
}

.dark-mode .conteudo h2{
color:#ff6aa6;
}


/* LINKS */

.dark-mode a{
color:#ff4d4d;
}
/* --------------------------------------------------- */
.dark-mode .sessoes{
    
    font-size:12px;
    color:#f3f2f2;
    
    }

.dark-mode .perfil-card {
    background:#242424;
    color:#f1f1f1;
    box-shadow:0 5px 15px rgba(0,0,0,0.5);
    }

.dark-mode .perfil-card h3{
    color:#ff4d4d;
    }

    .dark-mode .hobby {
    background:#e538357c;
    padding:4px 10px;
    border-radius:10px;
    }

    .dark-mode .sistema{
    background:#e538357c; 
    padding:4px 10px;
    border-radius:10px;
    }

.dark-mode .area-amigos{
background:#1e1e1e;
color:#f7f4f4;
box-shadow:0 0px 35px rgb(161, 63, 63);
border-radius: 20px;;
}   