
body{
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family: Arial, Helvetica, sans-serif;  
    transition: background 0.9s ease, color 0.9s ease;

}
    
    /* CONTAINER */
    
    .container{
    display:flex;
    flex:1;
    }
    
    /* SIDEBAR */
    
    .sidebar{
    width:230px;
    height:100vh;
    background:rgb(255, 255, 255);
    box-shadow:2px 0 10px rgba(94, 39, 39, 0.1);
    transition:0.3s;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    }
    
    /* SIDEBAR FECHADA */
    
    .sidebar.close{
    width:70px;
    }
    
    .sidebar.close span{
    display:none;
    }
    
    /* LOGO */
    
    .logo{
    display:flex;
    align-items:center;
    gap:10px;
    padding:20px;
    font-weight:bold;
    }
    
    .logo button{
    background:none;
    border:none;
    font-size:20px;
    cursor:pointer;
    }
    
    /* MENU */
    
    .sidebar ul{
    list-style:none;
    padding:0;
    margin:0;
    }
    
    .sidebar li{
    display:flex;
    align-items:center;
    gap:10px;
    padding:15px 20px;
    cursor:pointer;
    transition:0.3s;
    }
    
    .sidebar li a{
    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
    color:inherit;
    width:100%;
    }
    
    
    .sidebar li:hover{
    background:#a7373727;
    color:#d61c1c;
    }
    
    /* ITEM ATIVO */
    
    .sidebar .active{
    background:#be0b0b48;
    border-left:10px solid #ff0202;
    color:#d61c1c;
    }
    
    /* MENU SUPERIOR */
    
    .menu-top{
    flex:1;
    }
    
    /* MENU INFERIOR */
    
    .menu-bottom{
    margin-top:auto;
    }
    
    /* CONTEÚDO PRINCIPAL */
    
    .conteudo{
    background:#bfc0c0;
    flex:1;
    display:flex;
    flex-direction:column;
    padding:40px;
    
    }
    .conteudo-text
    {
    color: #ffffff;
    }

    /* TITULOS */
    
    .conteudo h1{
    font-size:32px;
    margin-bottom:15px;
    color:#7b0d0d;
    }
    
    .conteudo h2{
    font-size:24px;
    margin-bottom:10px;
    color:#f00b91;
    }
    
    /* PARAGRAFOS */
    
    .conteudo p{
    font-size:16px;
    line-height:1.6;
    margin-bottom:15px;
    }
    
    /* CARD */
    
    .card-texto{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    margin-bottom:20px;
    max-width:700px;
    transition:0.4s;
    cursor:pointer;
    }
    .card-texto:hover{
    transform:scale(0.99);
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
    }

    
/* ----------------------------------------------------------------------------------- */

    /* TOPO */
    
    .topo{
    
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    background:#e9e9e9;
    padding:10px 20px;
    
    }
    
    /* LOGO */
    
    .logo-area{
    
    display:flex;
    align-items:center;
    gap:10px;
    
    }
    
    .logo-icon{
    
    width:28px;
    height:28px;
    background:#e53935;
    border-radius:6px;
    
    }
    
    .logo-text{
    
    display:flex;
    flex-direction:column;
    
    }
    
    .titulo{
    
    color:#e53935;
    font-weight:bold;
    font-size:14px;
    
    }
    
    .sub{
    
    font-size:10px;
    color:#777;
    
    }
    
    /* LADO DIREITO */
    
    .menu-direita{
    
    display:flex;
    align-items:center;
    gap:20px;
    
    }
    
    /* STATUS */
    
    .status{
    
    display:flex;
    align-items:center;
    gap:6px;
    
    background:#f3f3f3;
    padding:6px 12px;
    border-radius:20px;
    
    font-size:12px;
    
    }
    
    .bolinha{
    
    width:8px;
    height:8px;
    background:#3ddc84;
    border-radius:50%;
    
    }
    
    /* ICONES */
    
    .icone{
    font-size:16px;
    cursor:pointer;
    }
    
    /* SESSÕES */
    
    .sessoes{
    
    font-size:12px;
    color:#444;
    
    }
    
    /* USUARIO */
    
    .usuario{
    
    display:flex;
    align-items:center;
    gap:8px;
    
    }
    
    .foto-topo{
    
    width:28px;
    height:28px;
    border-radius:50%;
    
    }

    /* TOPO */

.topo{

    display:flex;
    justify-content:space-between;
    align-items:center;
    
    background:#e9e9e9;
    padding:10px 20px;
    
    }
    
    /* LOGO */
    
    .logo-area{
    
    display:flex;
    align-items:center;
    gap:10px;
    
    }
    
    .logo-icon{
    
    width:28px;
    height:28px;
    background:#9c2b29;
    border-radius:6px;
    
    }
    
    .logo-text{
    
    display:flex;
    flex-direction:column;
    
    }
    
    .titulo{
    
    color:#e53935;
    font-weight:bold;
    font-size:14px;
    
    }
    
    .sub{
    
    font-size:10px;
    color:#777;
    
    }
    
    /* LADO DIREITO */
    
    .menu-direita{
    
    display:flex;
    align-items:center;
    gap:20px;
    
    }
    
    /* STATUS */
    
    .status{
    
    display:flex;
    align-items:center;
    gap:6px;
    
    background:#f3f3f3;
    padding:6px 12px;
    border-radius:20px;
    
    font-size:12px;
    
    }
    
    .bolinha{
    
    width:8px;
    height:8px;
    background:#3ddc84;
    border-radius:50%;
    
    }
    
    /* ICONES */
    
   .icone i{
font-size:18px;
cursor:pointer;
transition:0.3s;
}

.icone i:hover{
transform:scale(1.2);
}
    /* SESSÕES */
    
    .sessoes{
    
    font-size:12px;
    color:#2c2525;
    
    }
    
    /* USUARIO */
    
    .usuario{
    
    display:flex;
    align-items:center;
    gap:8px;
    
    }
    
    .avatar{
    
    width:28px;
    height:28px;
    border-radius:50%;
    
    }