
body{
margin:0;
min-height:100vh;
display:flex;
flex-direction:column;
}

.container{
display:flex;
flex:1;
}
/* CONTEÚDO */
.sidebar li a{
display:flex;
align-items:center;
gap:10px;
padding:14px 20px;
text-decoration:none;
color:inherit;
}

.conteudo{
background-color: #21332142;
flex:1;
display:flex;
flex-direction:column;
}

.rodape{
margin-top:auto;
text-align:center;
padding:20px;
}
/* RODAPÉ */

footer{
background:#ffffff;
color:rgb(0, 0, 0);
padding:15px;
margin-top:auto;
}

.idiomas{
font-size:14px;
}

.links{
font-size:14px;
margin-top:10px;
color:rgb(0, 0, 0);text-decoration:none;
}

.links a
{color: #000000;
text-decoration: none;
}

.links a:hover{
    color: rgb(224, 24, 24); 
}

/* SIDEBAR */

.sidebar{
width:230px;
height:100vh;
background:rgb(255, 255, 255);
box-shadow:2px 0 10px rgba(94, 39, 39, 0.1);
transition:0.3s;
overflow:hidden;
}

/* FECHADO */

.sidebar.close{
width:70px;
}

/* LOGO */

.logo{
display:flex;
align-items:center;
gap:10px;
padding:20px;
font-weight:bold;
color:#d61c1c;
}

.logo button{
background:none;
border:none;
font-size:20px;
cursor:pointer;
}

/* MENU */


.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
display:flex;
align-items:center;
gap:10px;
padding:15px 20px;
cursor:pointer;
transition:0.3s;
}

.sidebar li:hover{
background:#a7373727;
color:#d61c1c;
}

.sidebar .active{
background:#be0b0b48;
border-left: 10px solid #ff0202;
color:#d61c1c;
}


/* MENU DE CIMA */

.menu-top{
list-style:none;
padding:0;
}


/* MENU DE BAIXO */

.menu-bottom{
list-style:none;
padding:0;
margin-top:auto;
}



/* ESCONDER TEXTO */

.sidebar{
width:230px;
height:100vh;
background:white;
transition:0.3s;
}

.sidebar.close{
width:70px;
}

.sidebar.close span{
display:none;
}


