body{
background:black;
color:white;
border-radius:10px;
min-height:100vh;
display:flex;
flex-direction:column;
}


/* LOGO */

.logo{
position:absolute;
top:20px;
left:20px;
width:200px;
}

/* TITULO */

.titulo{
color:red;
font-size:80px;
font-weight:bold;
}

.subtexto{
font-size:40px;
margin-top:20px;
}

/* CARD LOGIN */

.login-card{
background:#d9d9d9;
padding:35px;
border-radius:15px;
width:380px;
color:black;
}

.form-control{
border-radius:20px;
padding:12px;
margin-bottom:15px;
}

.btn-entrar{
background:red;
border:none;
border-radius:25px;
width:100%;
padding:12px;
font-weight:bold;
color:rgb(255, 255, 255);
}

.btn-criar{
background:#19d67a;
border:none;
border-radius:25px;
padding:12px;
width:70%;
color:white;
}

/* RODAPÉ */

footer{
background:#d9d9d9;
color:rgb(0, 0, 0);
padding:15px;
margin-top:auto;
}

.idiomas{
font-size:14px;
}

.links{
font-size:14px;
margin-top:10px;
color:rgb(0, 0, 0);text-decoration:none;
}

.links a
{color: #000000;
text-decoration: none;
}

.links a:hover{
    color: rgb(224, 24, 24); 
}


/*  CADASTRO */

.cadastro-form{
max-width:420px;
margin:auto;
}

.cadastro-form .form-control{
border-radius:20px;
padding:12px;
margin-top:15px;
background:#d9d9d9;
border:none;
}

.data-nascimento{
display:flex;
gap:10px;
margin-top:15px;
}

.form-select{
background:#444;
color:white;
border:none;
}

.genero{
margin-top:15px;
display:flex;
gap:20px;
color:white;
}

.btn-criar{
background:#19d67a;
border:none;
border-radius:25px;
padding:12px;
width:200px;
font-weight:bold;
color:black;
}

.texto-cadastro{
text-align:center;
margin-top:10px;
font-size:13px;
}